services:
  solana:
    container_name: solana
    image: solana:latest
    environment:
      RUST_LOG: solana_runtime::system_instruction_processor=debug,solana_runtime::message_processor=debug,solana_bpf_loader=debug,solana_rbpf=debug
      RUST_BACKTRACE: 1
    hostname: solana
    ports:
      - "8899:8899"
      - "9900:9900"
      - "8900:8900"
      - "8003:8003/udp"
    expose:
      - "8899"
      - "9900"
      - "8900"
      - "8001"
      - "8001-8009/udp"
    networks:
      - net
    healthcheck:
      test: [ CMD-SHELL, "solana cluster-version -u http://solana:8899" ]
      interval: 5s
      timeout: 10s
      retries: 10
      start_period: 10s


  tests:
    container_name: hw-test
    image: hw-test:latest
    entrypoint: /bin/bash -c "/bin/bash -c \"$${@}\""
    command: sh -c "ping -c 5 solana"
#    command: >
#        /bin/sh -c
#        "
#        sleep 60 &&
#        /opt/bin/solana-keygen new --no-bip39-passphrase -s -o /opt/ci/test.json;
#        /opt/bin/solana -u http://solana:8899 -v airdrop 1000 /opt/ci/test.json;
#        /opt/bin/hw
#        "
    hostname: tests
    networks:
      - net
    depends_on:
      solana:
        condition: service_started


networks:
  net:
