name: run_tests

on:
  push:

permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout tests repository'
        uses: actions/checkout@v4

      - name: Install Compose
        uses: ndeloof/install-compose-action@v0.0.1
        with:
          version: v2.1.0 # defaults to 'latest'
          legacy: true    # will also install in PATH as `docker-compose`

      - name: 'Login to Docker Hub'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: 'Run tests'
        run: |
          cd ..
          docker build --tag hw -f hello_world/ci/Dockerfile_hw .
          docker build --tag hw-test -f hello_world/ci/Dockerfile_tests .
          cd hello_world/ci
          docker-compose up tests
        shell: bash



 
      
